html, body, svg {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    display:flex;
 
   align-items: vertical; 
  }
  
  body:hover [filter],
  body:active [filter]
  {filter: none;}
  
  #p {
    fill: black;
    fill-opacity: 0.2;
    stroke: white;
    stroke-width: 2.3px;
    stroke-dasharray: 200 188.5;
    animation: stroke-color 11s infinite linear;
  }
  #p .wrapper, #p use {
    animation: draw 4s infinite linear;  
  }
  #p use:nth-child(3){
    fill: white;
    fill-opacity: 0.1;
    animation-delay: -2s;
  }
  
  :root {
    animation: back-color 11s infinite linear;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 388.5;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes stroke-color {
    0%      {stroke: hsl(  0,100%,70%);}
    16.667% {stroke: hsl( 60,100%,70%);}
    33.333% {stroke: hsl(120,100%,70%);}
    50%     {stroke: hsl(180,100%,70%);}
    66.667% {stroke: hsl(240,100%,70%);}
    83.333% {stroke: hsl(300,100%,70%);}
    100%    {stroke: hsl(360,100%,70%);}
  }
  @keyframes back-color {
    0%      {background: hsl(0, 0%, 43%);}
    16.667% {background: hsl(0, 12%, 87%);}
    
    50%     {background: hsl(0, 0%, 71%);}
    66.667% {background: hsl(56, 69%, 65%);}
    83.333% {background: hsl(0, 89%, 75%);}
    100%    {background: hsl(0, 8%, 69%);}
  }



  .p{
   size: 10px;
  }










  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
    .glass {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 248, 248, 0.603);
    padding: 50px;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
    }
    .glass-1 {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: rgb(122, 82, 82);
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
    font-size: 1.7rem;
    }
    .glass h1 {
    font-size: 1.5rem;
    text-align: center;
    }
    .glass h2 {
    font-size: 1rem;
    margin-top: 20px;
    }
    .input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
    }
    .input input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px;
    }
    .glass p {
    font-size: 1.6rem;
    margin-top: 30px;
    }
    
  
  

    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    






    .card{
    width: 250px;
    height: 300px;
    position: relative;
    cursor: pointer;

align-items: center;
display: flex;
justify-content: center;

height: 105vh;
width: 130vh;
    }
    .card .content{
    width: 100%;
    height: 100%;
    background: rgba(243, 236, 236, 0.089);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    transition: all .4s;
    }
    .card .content p{
    font-size: 18px;
    padding: 0.3em 1.5em;
    text-align: center;
    font-style: oblique;
   
    }
    .card:hover .content{
    color: rgb(255, 255, 255);
    }
    .card::before,
    .card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background:  #16036d;
    z-index: -20;
    transition: all .4s;
    }
    .card::before{
    top: 0;
    right: 0;
    }
    .card::after{
    bottom: 0;
    left: 0;
    background: #705ddd;
    }
    .card:hover::before{
    width: 50px;
    height: 50px;
    transform: translate(20px, -20px);
    border-radius: 50%;
    }
    .card:hover::after{
    width: 100px;
    height: 100px;
    transform: translate(-20px, 20px);
    border-radius: 50%;
    }
.card h1{
  font-size: 60px;
  font-style: normal;
}











    .carde{
      width: 250px;
      height: 300px;
      position: relative;
      cursor: pointer;
  
  align-items: center;
  display: flex;
  justify-content: center;
  
  height: 105vh;
  width: 130vh;
      }
      .carde .contente{
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.089);
      backdrop-filter: blur(20px);
      border: 1px solid white;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
      transition: all .4s;
      }
      .carde .contente p{
        font-size: 18px;
      padding: 0.3em 1.5em;
      text-align: center;
      font-style: oblique;
      }
      .carde:hover .contente{
      color: rgb(255, 255, 255);
      }
      .carde::before,
      .carde::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      background: #be7f09;
      z-index: -20;
      transition: all .4s;
      }
      .carde::before{
      top: 0;
      right: 0;
      }
      .carde::after{
      bottom: 0;
      left: 0;
      background: #c3c4b4;
      }
      .carde:hover::before{
      width: 50px;
      height: 50px;
      transform: translate(20px, -20px);
      border-radius: 50%;
      }
      .carde:hover::after{
      width: 100px;
      height: 100px;
      transform: translate(-20px, 20px);
      border-radius: 50%;
      }
      .carde h1{
        font-size: 60px;
        font-style: normal;
      }
  
  
  
  
  
  

      

























      .cards{
        width: 250px;
        height: 300px;
        position: relative;
        cursor: pointer;
    
    align-items: center;
    display: flex;
    justify-content: center;
    
    height: 105vh;
    width: 130vh;
        }
        .cards .contents{
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.089);
        backdrop-filter: blur(20px);
        border: 1px solid white;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
        transition: all .4s;
        }
        .cards .contents p{
          font-size: 18px;
        padding: 0.3em 1.5em;
        text-align: center;
        font-style: oblique;
        }
        .cards:hover .contents{
        color: rgb(255, 255, 255);
        }
        .cards::before,
        .cards::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background: #d3dee6;
        z-index: -20;
        transition: all .4s;
        }
        .cards::before{
        top: 0;
        right: 0;
        }
        .cards::after{
        bottom: 0;
        left: 0;
        background: #083a96;
        }
        .cards:hover::before{
        width: 50px;
        height: 50px;
        transform: translate(20px, -20px);
        border-radius: 50%;
        }
        .cards:hover::after{
        width: 100px;
        height: 100px;
        transform: translate(-20px, 20px);
        border-radius: 50%;
        }
    
    
    
        .cards h1{
          font-size: 60px;
          font-style: normal;
        }
    
    
    

        











        .cardt{
          width: 250px;
          height: 300px;
          position: relative;
          cursor: pointer;
      
      align-items: center;
      display: flex;
      justify-content: center;
      
      height: 105vh;
      width: 130vh;
          }
          .cardt .contentt{
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.089);
          backdrop-filter: blur(20px);
          border: 1px solid white;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
          transition: all .4s;
          }
          .cardt .contentt p{
            font-size: 18px;
          padding: 0.3em 1.5em;
          text-align: center;
          font-style: oblique;
          }
          .cardt:hover .contentt{
          color: rgb(255, 255, 255);
          }
          .cardt::before,
          .cardt::after{
          content: '';
          position: absolute;
          width: 100%;
          height: 50%;
          background: #dfdc28;
          z-index: -20;
          transition: all .4s;
          }
          .cardt::before{
          top: 0;
          right: 0;
          }
          .cardt::after{
          bottom: 0;
          left: 0;
          background: #000000d3;
          }
          .cardt:hover::before{
          width: 50px;
          height: 50px;
          transform: translate(20px, -20px);
          border-radius: 50%;
          }
          .cardt:hover::after{
          width: 100px;
          height: 100px;
          transform: translate(-20px, 20px);
          border-radius: 50%;
          }
      
          .cardt h1{
            font-size: 60px;
            font-style: normal;
          }
      
      
      
      








      
      

          .cardn{
            width: 250px;
            height: 300px;
            position: relative;
            cursor: pointer;
        
        align-items: center;
        display: flex;
        justify-content: center;
        
        height: 105vh;
        width: 160vh;
            }
            .cardn .contentn{
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.089);
            backdrop-filter: blur(20px);
            border: 1px solid white;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
            transition: all .4s;
            }
            .cardn .contentn p{
            font-size: 18px;
            padding: 0.3em 1.5em;
            text-align: center;
            font-style: oblique;
            }
            .cardn:hover .content{
            color: rgb(255, 255, 255);
            }
            .cardn::before,
            .cardn::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            background: #18095aa4;
            z-index: -20;
            transition: all .4s;
            }
            .cardn::before{
            top: 0;
            right: 0;
            }
            .cardn::after{
            bottom: 0;
            left: 0;
            background: #000000ce;
            }
            .cardn:hover::before{
            width: 50px;
            height: 50px;
            transform: translate(20px, -20px);
            border-radius: 50%;
            }
            .cardn:hover::after{
            width: 100px;
            height: 100px;
            transform: translate(-20px, 20px);
            border-radius: 50%;
            }
         
            .cardn h1{
              font-size: 60px;
              font-style: normal;
            }